
#mainTitle {
    font-size: x-large;
}

body{
    height: 100vh;
    align-content: center;
    justify-content: center;
    background-color: #0f1729;
    
}

main{
    justify-self: anchor-center;
    background-color: #192435;
    padding: 14px;
    border: thin solid rgb(0, 0, 180);
    margin: 6px;
    border-radius: 17px;
}

header {
    justify-self: anchor-center;
}



.filterGroup {
    padding: 9px;
    border: thin solid;
    border-radius: 5px;
    border-color: rgba(252, 244, 234, 0.24);
}

.listTodos {
    font-size: larger;
    font-weight: 700;
}

input[type="text"], input[type="date"], select {
    background-color: #1f2937;
    color: #ffffff;
    border: 1px solid #374151;
    padding: 10px;
    border-radius: 6px;
}

input::placeholder {
    color: #9ca3af;
}